name: Generate PDF and Upload to Yandex Cloud Object Storage

on:
  push:
    branches:
      - main

jobs:
  build-pdf-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # Копируем все нужные файлы в build 
      - name: Copy static files
        if: success()
        run: |
          mkdir -p build
          cp -r cv/* build/ 
      
      # Генерируем версию (например, на основе даты и коммита)
      - name: Generate version
        id: version
        run: |
          SHA_SHORT=$(echo "${{ github.sha }}" | cut -c1-7)
          VERSION="$(date +%Y.%m.%d)-${SHA_SHORT}"
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

      # Заменяем плейсхолдер в HTML на версию
      - name: Replace version in HTML
        if: success()
        run: |
          sed -i 's/__VERSION__/${{ steps.version.outputs.VERSION }}/g' ./build/cv_now.html

      # Генерация PDF из HTML-файла
      - name: Convert HTML to PDF
        uses: fifsky/html-to-pdf-action@master
        if: success()
        with:
          htmlFile: ./build/cv_now.html
          outputFile: ./build/resume_avvakumov.pdf
          pdfOptions: '{"format": "A4", "margin": {"top": "0mm", "left": "10mm", "right": "10mm", "bottom": "0mm"}, "scale": 0.95, "displayHeaderFooter": false, "pageRanges": "1"}'

      # Загрузка всех файлов папки build/ в Object Storage Яндекс Облака
      - name: Upload to Yandex Object Storage
        uses: yc-actions/yc-obj-storage-upload@v3
        if: success()
        with:
          yc-sa-json-credentials: ${{ secrets.YC_SA_JSON_CREDENTIALS }}
          bucket: ${{ secrets.BUCKET }}
          root: ./build
          include: |
            **/*
          clear: false
