name: Generate PDF and Upload to Yandex Cloud Object Storage

on:
  push:
    branches:
      - main

jobs:
  build-pdf-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # Копируем все нужные файлы в build 
      - name: Copy static files
        run: |
          mkdir -p build
          cp -r cv/* build/ 

      - name: where??
        run: ls
      # Генерация PDF из HTML-файла
      - name: Convert HTML to PDF
        uses: fifsky/html-to-pdf-action@master
        with:
          htmlFile: ./cv/cv_now.html
          outputFile: ./build/resume_avvakumov.pdf
          pdfOptions: '{"format": "A4", "margin": {"top": "10mm", "left": "10mm", "right": "10mm", "bottom": "10mm"}}'

      # Загрузка всех файлов папки build/ в Object Storage Яндекс Облака
      - name: Upload to Yandex Object Storage
        uses: yc-actions/yc-obj-storage-upload@v3
        with:
          yc-sa-json-credentials: ${{ secrets.YC_SA_JSON_CREDENTIALS }}
          bucket: ${{ secrets.BUCKET }}
          root: ./build
          include: |
            **/*
          clear: false
